body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background: #1A2980;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
  }

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 5em;
    font-weight: bold;
    margin: 0px;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#menu {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 600px;
}

#current-sign.disabled {
    transition: 0.3s;
    background: #EB3349;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 100%;
    background-position: 0%;
}

#menu button {
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 26px;
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: 200% 100%;
    background-position: 100% 0;
    transition: background-position .5s;
    border: 0;
    height: 3em;
    width: 10em;
    text-align: center;
    line-height: 40px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#menu button:hover {
    background-position: 0 0;
}

#current-sign {
    color: black;
    font-size: 1.2em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    border: 0;
    transition: 0.3s;
    height: 3em;
    width: 18em;
    border-radius: 20px;
    text-align: center;
    line-height: 60px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#board-container {
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
}

#board-container div {
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    background-color: #ffffff4f;
    text-align: center;
    line-height: 150px;
    font-size: 6em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #000000;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#board-container div:hover {
    transition: 0.3s;
    background-color: rgba(0, 186, 90, 0.488)
}


#board-container div p {
    margin: 0;
    padding: 0;
    position: absolute;
}